extends layout

block content
  header(class="w-full p-5 bg-black text-white shadow-lg")
    nav(class="max-w-screen-lg mx-auto flex justify-between items-center")
      h1 WalenCiaga
      a(href="/", class="text-sm") Home
  
  main(class="bg-white mx-auto p-10 ")
    div(class="text-sm text-gray-500 mb-4")
      a(href="/") Home
      |  &gt;
      a(href="/products") Products
      |  &gt;
      span Product

    div(class="grid grid-cols-1 md:grid-cols-2 gap-8")
      div(class="bg-gray-50 h-40 flex items-center justify-center border-[1px] border-gray-100 rounded-lg")
        img(src='#{product.imageUrl}', alt="Product Image", class="w-full h-full object-contain")
      div
        h1(class="text-2xl font-semibold mb-2") #{product.name || 'Unknown Product'}
        p(class="text-gray-700 mb-4") #{product.description || 'No description available'}
        p(class="text-lg font-bold text-green-600 mb-6")
          | Price: 
          span #{product.price || 'N/A'} VND

        button(class="button-main py-4 px-2") Add to Cart

    div(class="mt-10 w-3/4 mx-auto text-sm text-gray-700")=product.detailDescription
  
  footer(class="text-center py-5 text-sm font-light text-white")
    p &copy; 2024 Company. All rights reserved.