extends layout

block content
  header(class="w-full p-5 bg-black text-white shadow-lg")
    nav(class="max-w-screen-lg mx-auto flex justify-between items-center")
      h1 WalenCiaga
      a(href="/", class="text-sm") Home
      if user
          div(class='flex space-x-4 items-center ml-auto')
            a(href='/carts/')
              img(src="/images/cart.svg", alt="spinner", class="w-4")
            div(class='text-white') Hello #{user.name}
            a(class="button-base", href="/users/logout") Log Out
  
  main(class="bg-white mx-auto p-10 ")
    div(class="text-sm text-gray-500 mb-4")
      a(href="/") Home
      |  &gt;
      a(href="/products") Products
      |  &gt;
      span Product

    div(class="grid grid-cols-1 md:grid-cols-2 gap-8")
      div(class="relative bg-gray-50 h-60 flex items-center justify-center border-[1px] border-gray-100 rounded-lg overflow-hidden w-full min-w-28")
        each image, index in [].concat(product.imageUrl, product.otherImages)
          img(src=image, alt="Product Image #{index + 1}", class="carousel-image absolute w-full h-full object-contain transition-opacity duration-300 ease-in-out #{index === 0 ? 'opacity-100' : 'opacity-0'}")
        button(class="carousel-nav px-2 py-1 bg-gray-800 text-white rounded-full absolute left-2 top-1/2 transform -translate-y-1/2", data-direction="prev") &lt;
        button(class="carousel-nav px-2 py-1 bg-gray-800 text-white rounded-full absolute right-2 top-1/2 transform -translate-y-1/2", data-direction="next") &gt;
      div
        h1(class="text-2xl font-semibold mb-2 text-black") #{product.name || 'Unknown Product'}
        p(class="text-gray-700 mb-4") #{product.description || 'No description available'}
        div(class="mb-6")
          p(class="text-lg font-bold text-green-600")
            | Price: 
            span(class='price-tag') #{product.promotePrice || product.price || 0}
          if product.promotePrice
            p(class='price-tag text-gray-500 line-through text-sm') #{product.price || 0}
        div(class="flex items-center gap-4 my-2")
          button(class="px-4 py-2 bg-gray-200 rounded text-gray-800 hover:bg-gray-300 disabled:opacity-50 disabled:cursor-not-allowed", id="decrement-btn", disabled)
            | -
          input(type="number", min="1", value="1", id="quantity-input", class="w-16 h-10 font-bold text-black pl-4 text-center border border-gray-300 rounded focus:ring-2 focus:ring-blue-500 focus:outline-none")
          button(class="px-4 py-2 bg-gray-200 rounded text-gray-800 hover:bg-gray-300", id="increment-btn")
            | +
        button(id="add-to-cart", class="button-main py-4 px-2") Add to Cart
    div(class="mt-10 w-3/4 mx-auto text-sm text-gray-700")=product.detailDescription

    div(class="w-screen")
      p(class='text-bold text-black font-semibold mt-10 text-center mb-4') Relevant Products
      div(class="flex flex-nowrap w-full space-x-4 justify-center mx-auto")
        each relevantProduct in product.relevantProducts
              a(href='/products/' + relevantProduct.id, class="border rounded-lg p-5 shadow-sm text-center")
                h3(class="text-lg font-semibold mb-1")= relevantProduct.name
                img(src=relevantProduct.imageUrl, alt="Product Image", class="w-32 h-32 mx-auto mb-4")
                if relevantProduct.promotePrice
                  div(class="price-tag text-sm text-gray-500 line-through")=relevantProduct.price
                div(class="price-tag text-xl font-semibold text-gray-800 mb-2") #{relevantProduct.promotePrice || (relevantProduct.price || 0)}
                p(class="text-gray-600 mb-2 text-sm pt-4 border-t-[1px] border-gray-200 mt-2")= relevantProduct.description
  
  footer(class="text-center py-5 text-sm font-light text-white")
    p &copy; 2024 Company. All rights reserved.
  
  script(src="/javascripts/product.js", type='module')